.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
  background-color: green;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Split the screen in half */
.knot-info-wrapper {
  height: 100%;
  width: 25%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  padding-top: 100px;
  left: 0;
}

input {
  display: block;
  text-align: center;
}

label {
  display: block;
}

.knot-info {
  margin: 10px;
}

.knot-info-text {
  border-radius: 5px;
  margin: auto;
}

.btn {
  background-color: green;
  border-radius: 25px;
  color: white;
}

.list-devices-wrapper {
  height: 100%;
  width: 70%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  padding-top: 100px;
  right: 0;
}
.online-devices-header {
  position: relative;
  padding-bottom: 2%;
}
.online-device {
  position: relative;
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.device-info {
  position: relative;
  float: left;
  vertical-align: middle;
  padding: 10px;
}

.device-name {
  font-size: 1.5em;
}

.device-id {
  font-size: 0.5em;
}

.device-value {
  position: relative;
  float: right;
}

.switch {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: green;
  border-radius: 25px;
  color: white;
}

.device-card-button {
  background-color: green;
  color: white;
  border-radius: 25px;
  vertical-align: middle;
  margin-top: 10px;
  font-size: 12pt;
}

.device-card-label-text {
  font-size: 12pt;
  margin-top: 5px;
  margin-bottom:5px;
}

.device-card-info-text {
  border-radius: 5px;
  font-size: 12pt;
  margin-top: 4px;
  margin-bottom: 10px;
}

.device-card-icon {
  vertical-align: middle;
  margin-bottom: 6px;
}

.switch-slider {
  position: relative;
  display: block;
  left: 70px;
  width: 45px;
  height: 15px;
}

.switch-slider input {
  opacity: 0;
  width: 0;
  height: 0;
  margin-top:7px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 6px;
}

.slider.round:before {
  border-radius: 50%;
}

.device-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start; 
  align-content: space-around;
  width: 600px;
  margin-right: 7%;
  margin-left: 19%;
  padding-bottom: 10px;
  border-radius: 25px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.device-card-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start; 
}